.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.group1224 {
  width: 271px;
  height: 764px;
  display: block;
  flex-shrink: 0;
}
.group959 {
  width: 271px;
  height: 764px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group875 {
  width: 271px;
  height: 764px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group369 {
  width: 271px;
  height: 764px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle449 {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05),
    inset 0px 0px 0px 1px rgba(235, 237, 240, 1);
  width: 271px;
  height: 764px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}
.svg___7Rvjx {
  position: absolute;
  object-fit: cover;
  width: 191px;
  height: 1px;
  color: #0d333f;
  opacity: 0.2;
  display: block;
  top: 388px;
  left: 40px;
}
.group306 {
  width: 189px;
  height: 94px;
  display: block;
  position: absolute;
  top: 266px;
  left: 41px;
}
.freeBox__ra4VZ {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration-line: underline;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(12, 50, 62, 1);
  position: absolute;
  top: 62px;
  left: 0px;
  width: 189px;
  height: 32px;
}
.group294 {
  width: 160px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
}
.img {
  position: absolute;
  object-fit: cover;
  width: 160px;
  height: 52px;
  display: block;
  top: 0%;
  left: 0%;
  border-radius: 4px;
}
.choosePlan {
  position: absolute;
  top: 15px;
  left: 27px;
  width: 107px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.freeBox__unu4 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.freeBox__r7Nny {
  display: block;
  font-size: 16px;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(9, 132, 66, 1);
  position: absolute;
  top: 421px;
  left: 45px;
  width: 181px;
}
.freeBox__wUm0V {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83px;
  left: 27px;
  width: 206px;
}
.group960 {
  width: 157px;
  height: 36px;
  display: block;
  position: absolute;
  top: 32px;
  left: 57px;
}
.freeBox__jgr5P {
  display: block;
  font-size: 28px;
  text-align: center;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: -24px;
  font-weight: 600;
  width: 181px;
}
.group998 {
  width: 146px;
  height: 76px;
  display: block;
  position: absolute;
  top: 133px;
  left: 68px;
}
.group950 {
  width: 146px;
  height: 76px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
._12 {
  display: block;
  font-size: 60px;
  font-family: AvenirNext forINTUIT;
  font-weight: 700;
  line-height: 76px;
  color: rgba(9, 132, 66, 1);
  position: absolute;
  top: 0px;
  left: 21px;
}
.freeBox__cE6Xg {
  display: block;
  font-size: 24px;
  font-family: AvenirNext forINTUIT;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(9, 132, 66, 1);
  position: absolute;
  top: 29px;
  left: 0px;
}
.freeBox__ysj {
  display: block;
  font-size: 24px;
  font-family: AvenirNext forINTUIT;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(9, 132, 66, 1);
  position: absolute;
  top: 30px;
  left: 98px;
}
.freeBox__jh9U {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: AvenirNext forINTUIT;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 201px;
  left: 71px;
  width: 129px;
}
.frame1208 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: absolute;
  top: 480px;
  left: 40px;
  flex-direction: column;
}
.frame1208 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame1208 > :global(.__wab_flex-container) > *,
.frame1208 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.group1204 {
  width: 199px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__xs4TA {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 175px;
}
.svg__oxWis {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.045999999999999375px);
  display: block;
  transform-origin: top left;
  top: 9px;
  left: 0px;
}
.group1205 {
  width: 201px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__u9CiD {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
}
.svg__e0BPz {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.04600000000000648px);
  display: block;
  transform-origin: top left;
  top: 9px;
  left: 0px;
}
.group1206 {
  width: 203px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___1Bnu {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.43300000000000693px);
  display: block;
  transform-origin: top left;
  top: 10px;
  left: 0px;
}
.runProfitLossExpensesAndBalanceSheets {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 179px;
}
.group1207 {
  width: 186px;
  height: 21px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__s9N1U {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.044999999999987494px);
  display: block;
  transform-origin: top left;
  top: 9px;
  left: 0px;
}
.freeBox__mK0QA {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 24px;
  transform: translate(0px, -0.41200000000000614px);
}
