.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 260px;
  box-shadow: 0px 5px 10px 0px #0000000d;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 20px;
}
.root__popular {
  border: 2px solid #0a8543;
}
.rwBanner:global(.__wab_instance) {
  position: relative;
}
.rwBanner__popular:global(.__wab_instance) {
  position: absolute;
  left: -1px;
  top: -26px;
}
.productTitle {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  transform: translate(-0.5px, 0px);
  margin-bottom: 20px;
  align-self: center;
  flex-direction: column;
}
.slotChildren {
  font-family: AvenirNext forINTUIT;
  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 36px;
  letter-spacing: 0em;
}
.subhead {
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 206px;
  margin-bottom: 20px;
  align-self: center;
  flex-direction: column;
}
.slotSlot {
  font-family: AvenirNext forINTUIT;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 20px;
  letter-spacing: 0em;
}
.priceBlock {
  width: 154px;
  height: 108px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.pricing {
  width: 146px;
  height: 76px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
  flex-shrink: 0;
}
.freeBox__nyuvJ {
  display: flex;
  position: absolute;
  top: 0px;
  left: 21px;
}
.slotWholePrice {
  font-family: AvenirNext forINTUIT;
  font-size: 60px;
  font-weight: 700;
  color: #0d333f;
  line-height: 76px;
}
.freeBox__banL {
  display: block;
  font-size: 24px;
  font-family: AvenirNext forINTUIT;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: #0d333f;
  position: absolute;
  top: 29px;
  left: 0px;
}
.freeBox___0Uko5 {
  display: block;
  font-size: 24px;
  font-family: AvenirNext forINTUIT;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 20px;
  color: #0d333f;
  position: absolute;
  top: 30px;
  left: 98px;
}
.freeBox__e4Ypn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 137px;
  align-self: center;
}
.slotDuration {
  font-family: AvenirNext forINTUIT;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 16px;
  letter-spacing: 0em;
}
.ctaBlock {
  transform: translate(-0.5px, 0px);
  width: 189px;
  height: 94px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.rwButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.tertiaryLink {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration-line: underline;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(12, 50, 62, 1);
  position: relative;
  top: auto;
  left: auto;
  height: 32px;
  transform: translate(-0.5px, 0px);
  align-self: center;
  margin-top: 8px;
  cursor: pointer;
  flex-shrink: 0;
}
.separator222 {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  align-self: center;
  margin-bottom: 20px;
  background: #92787833;
  flex-shrink: 0;
}
.freeBox__mh7F {
  display: block;
  font-size: 16px;
  font-family: AvenirNext forINTUIT;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(9, 132, 66, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 181px;
  transform: translate(-0.5px, 0px);
  margin-bottom: 20px;
  font-weight: 500;
}
.featureBlock {
  transform: translate(-0.5px, 0px);
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
}
.featureBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.featureBlock > :global(.__wab_flex-container) > *,
.featureBlock > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.featureItem {
  width: 199px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__pIl3M {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 175px;
}
.svg__rCg7C {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  display: block;
  transform-origin: top left;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.045999999999999375px);
  top: 9px;
  left: 0px;
}
.featureItem2 {
  width: 199px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__zx5I {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 175px;
}
.svg__gBia6 {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  display: block;
  transform-origin: top left;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.045999999999999375px);
  top: 9px;
  left: 0px;
}
.featureItem22 {
  width: 199px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__lYoy3 {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 175px;
}
.svg__v59CD {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  display: block;
  transform-origin: top left;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.045999999999999375px);
  top: 9px;
  left: 0px;
}
.featureItem222 {
  width: 199px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeBox__vwGa2 {
  display: block;
  font-size: 14px;
  font-family: AvenirNext forINTUIT;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 24px;
  width: 175px;
}
.svg___7S3Fh {
  position: absolute;
  object-fit: cover;
  width: 14px;
  height: 8px;
  color: #0a8543;
  display: block;
  transform-origin: top left;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0px, 0.045999999999999375px);
  top: 9px;
  left: 0px;
}
